<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Fashion Feet</title>
<link rel="stylesheet" href="styles.css">
 <!-- Theme style -->
 <link rel="stylesheet" href="dist/css/adminlte.min.css">
 <!-- Google Font: Source Sans Pro -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
 <!-- Font Awesome -->
 <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
 <!-- Ionicons -->
 <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
          <!-- Left navbar links -->
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" data-widget="pushmenu" href="/create" role="button"><i class="fas fa-bars"></i></a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Home</a>
              </li>
              
          </ul>
      </nav>

      <aside class="main-sidebar sidebar-dark-primary elevation-4">
          <!-- Brand Logo -->
          <a href="/" class="brand-link">
            <img src="\images\foot.jpg" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Fashion for girls</span>
          </a>
      
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <!--<div class="image">
                <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
              </div>-->
              <div class="info">
                <a href="/" class="d-block">Surabhi</a>
              </div>
            </div>

      
            <!-- Sidebar Menu -->
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                  <a href='/create' class="nav-link">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p class="text">Add Data</p>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a href='/updatestock' class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p class="text">Update Sales</p>

                  </a>
                  </li>
                 <li class="nav-item">
                  <a href='/deleteproduct' class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p class="text">Delete Sales</p>

                  </a>
                  </li>
              </ul>
            </nav>
            <!-- /.sidebar-menu -->
          </div>
          <!-- /.sidebar -->
      </aside>


      <div class="content-wrapper">
          

          <section class="content">

              <!-- Default box -->
              <div class="card">
                <div class="card-header" style="background-color: hsl(105, 75%, 45%);">
                  <h3 class="card-title" style="color: #614e26;">Footware</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus" style="color: #750019;"></i>
                    </button> 
                  </div>
                </div>
                <div class="card-body p-0">
                  <table class="table table-striped projects">
                      <thead>
                          <tr>
                              <th style="width: 10%">Product Id</th>
                              <th style="width: 20%">Product Category</th>
                              <th style="width: 20%">Product Name</th>
                              <th style="width: 10%">Size</th>
                              <th style="width: 10%">Quantity</th>


                            <th style="width: 5%">Cost</th>
                           <th style="width: 10%">Edit</th>
                           <th style="width: 10%">Delete</th>   
                          </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0;i<data.length;i++) { %>
                          <tr>
                            <td><%= data[i].pid %></td>
                            <td><%= data[i].category %></td>
                            <td><%= data[i].type %></td>
                            <td><%= data[i].size %></td>
                            <td><%= data[i].stock %></td>
                            <td><%= data[i].sp%></td>
                            <td class="project-actions text-right">
                              <a class="btn btn-info btn-sm" href="/updatestock"><i class="fas fa-pencil-alt"></i>Edit</a>
                            </td>
                              <td>
                              <form action='/delete' method="post">
                                  <input type="hidden" name="id" value=<%= data[i].pid %>>&nbsp;
                                  <input class="btn btn-danger btn-sm fas fa-trash"  type="submit" value="Delete" >
                                <!--<a class="btn btn-danger btn-sm" href="#" ><i class="fas fa-trash"></i>Delete</a>-->
                              </form>	
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
        
          </section>
            <!-- /.content -->
      </div>
  </div>
   
</body>
</html>
